*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.clear{
	clear:both;
}

header .inicio{
	width:100%;
	height:100px;
	background-color:rgb(200,200,200);
}

h1{
	float:left;
	margin-left:50px;
	margin-top:25px;
}

header .inicio h2{
	float:right;
	margin-right:30px;
	margin-top:33px;
}

nav{
	width:100%;
	height:30px;
	background-color:gray;

}

a{
	color:white;
	font-size: 25px;
	margin-left: 70px;
}

section{
	width:70%;
	float:left;
	background-color:rgb(180,180,180);
	height:600px;
}

section h2{
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 30px;
}

section p{
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 30p
}

article{
	width:30%;
	float:right;
	height:600px;
	background-color:orange;
}

article img{
	width:100px;
	margin-top: 30px;
	margin-left: 30px;
}

footer{
	width:100%;
	height:150px;
	background-color: gray;
}

footer h5{
	padding-top: 20px;
	font-size:30px;
	margin-left:50px;

}

	
 
 @media screen and (max-width:1050px){
	.inicio h1{
		font-size: 25px;
		margin-left: 5px;
	}
	
}

@media screen and (max-width:570px){
	.inicio h1{
		font-size: 20px;
	}
	
}

@media screen and (max-width:460px){
	.inicio h1{
		font-size: 15px;
	}
	
}

@media screen and (max-width:1050px){
	header .inicio h2{
		font-size: 15px;
	}
	
}

@media screen and (max-width:1000px){
	nav .lista a{
		font-size: 15px;
	}
	
}

@media screen and (max-width:750px){
	nav .lista a{
		font-size: 10px;
	}
	
}

@media screen and (max-width:860px){
	nav .lista a{
		margin-left: 20px;
	}
	
}